/* Add to existing CSS */

.nav-link-active {
    color: #cddc39 !important;
}

.nav-link-active::after {
    width: 100% !important;
}

/* Add loading indicator styles */
.loading {
    cursor: wait !important;
}

.loading * {
    pointer-events: none;
}